
.group{
    display: flex;
    flex-direction: column;
}
.yellow{
    width: 150px;
    height: 150px;
    background-color: yellow;
    margin: 0;
}
.green{
    width: 150px;
    height: 150px;
    background-color: green;
    margin: 0;
}
@media screen and (max-width: 768px) {
    .group{
        display: flex;
        flex-direction: row;
    }
    .yellow{
        width: 450px;
        /*flex: 2;*/
        height: 400px;
        background-color: yellow;

    }
    .green{
        width: 150px;
        /*flex: 3;*/
        height: 400px;
        background-color: green;

    }
}

